footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.container{
    flex-direction: column;
}

p{
    color: white;
}

#logo-rosa{
    width: auto;
    height: 130px;
}

#redes-sociais{
    display: flex;
}


