section{
    margin: 0;
    padding: 0;
    display: flex;
}

.teste{
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    width: 470px;
}

.topo{
    margin-top: 12px;
    margin-bottom: 8px;
    margin-left: 30px;
}

.baixo{
    margin-top: 5px;
    margin-bottom: 12px;
    margin-left: 30px;
}

.h1{
    background-color: aqua;
    width: 400px;
}