

:root{
    --color-rosa-claro: #F3E4E4;
    --color-rosa-escuro: #E9A0A1;
    --color-rosa-intermediario: #E99F9F6E;
    --color-black: #0B0E19;
    --color-white: #F2ECE4;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;
    background-color: tomato;
}

.texto1{
    background-color: #0B0E19;
    margin: 0 auto;
}

.texto2{
    background-color: #E9A0A1;
    margin-left: auto;
}