:root {
    --color-rosa-claro: #F3E4E4;
    --color-rosa-escuro: #E9A0A1;
    --color-rosa-intermediario: #E99F9F6E;
    --color-black: #0B0E19;
    --color-white: #F2ECE4;
}

body,
ul,
li,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

header {
    display: flex;
    background: var(--color-rosa-claro);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {
    text-decoration: none;
    padding: 15px;
    color: #0B0E19;
}

.menu {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-right: 15px;
}

header a img {
    width: auto;
    height: 130px;
}

header .menu a:hover {
    background-color: var(--color-rosa-escuro);
    border-radius: 10px;
}

.menu li {
    position: relative;
}

/* Estilizando o submenu */
.dropdown {
    display: none;
    position: absolute;
    background: var(--color-rosa-claro);
    list-style: none;
    padding: 10px 0;
    top: 125%;
    left: 0;
    min-width: 150px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Estilizando os itens do submenu */
.dropdown li {
    padding: 8px 15px;
}

/* Estilizando os links do submenu */
.dropdown li a {
    text-decoration: none;
    color: #0B0E19;
    display: block;
}

/* Exibir o dropdown ao passar o mouse */
.menu li:hover .dropdown {
    display: block;
}

/* Mudança de cor ao passar o mouse */
.dropdown li a:hover {
    background: var(--color-rosa-escuro);
}

@media (max-width: 600px) {
    .menu li a{
        text-decoration: none;
        padding: 5px;
        color: #0B0E19;
    }
    
    .menu{
        list-style: none;
        display: flex;
        flex-direction: column;
    }
}

.fundo {
    height: 86.7vh;
    margin: 0;
    background: linear-gradient(to bottom, #e99f9f6e 50%, #F3E4E4 50%);
    ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fundo #img_fundo {
    position: absolute;
    width: 80%;
    height: 75%;
}

.feedback {
    display: flex;
    height: 78vh;
    background-color: var(--color-rosa-intermediario);
    margin: 0;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    padding: 20px;
    margin-bottom: -100px;
    color: var(--color-black);
    font-size: 35px;
}

.feedback .feedback-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}

.feedback .feedback-container .feedback-comentario {
    object-fit: cover;
    width: 300px;
    height: 200px;
    padding: 20px;
    border-top: 3.5px solid black;
    border-left: 3.5px solid black;
    transition: transform 0.7s ease;
}

.feedback-comentario:hover{
    color: var(--color-white);
    background-color: var(--color-rosa-escuro);
    transform: scale(1.3);
}